<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        dignissimos illo mollitia praesentium, odit illum doloremque. Obcaecati
        dolores expedita eveniet amet iure! Doloremque sint aperiam vel odio,
        architecto ipsam laboriosam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        dignissimos illo mollitia praesentium, odit illum doloremque. Obcaecati
        dolores expedita eveniet amet iure! Doloremque sint aperiam vel odio,
        architecto ipsam laboriosam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        dignissimos illo mollitia praesentium, odit illum doloremque. Obcaecati
        dolores expedita eveniet amet iure! Doloremque sint aperiam vel odio,
        architecto ipsam laboriosam!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
