<nav>
    <div class="site-title">
        <a href="/"><h1>Test</h1></a>
        <p>This is a sample website</p>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>